In [2]:
import os, sys, logging
import pandas as pd
sys.path.append(os.path.join(os.getcwd(), '..'))
from edgar_analyzer import edgar_analyzer as ea
#logging.setLevel("WARNING")

/home/tinglu/miniconda3/envs/py37/lib/python3.7/site-packages/dask/dataframe/utils.py:14: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [3]:
dir_edgar = '/data/edgar'
ep = ea.EdgarDownloader(dir_edgar)
ep.load_master_db('2019-01-01', '2020-01-30', force_reload=True)

/mnt/c/Quant/dev/edgar_analyzer/notebook/../edgar_analyzer/edgar_analyzer.py:19: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  self.today = pd.datetime.today()
02-02 01:40|EdgarAnalyzer|INFO|using quarters between 2019-01-01 00:00:00 to 2020-03-31 00:00:00
02-02 01:40|EdgarAnalyzer|INFO|downloading /data/edgar/edgar/full-index/2020/QTR1/master.idx
02-02 01:40|EdgarAnalyzer|INFO|downloading /data/edgar/edgar/full-index/2019/QTR4/master.idx
02-02 01:40|EdgarAnalyzer|INFO|downloading /data/edgar/edgar/full-index/2019/QTR3/master.idx
02-02 01:40|EdgarAnalyzer|INFO|downloading /data/edgar/edgar/full-index/2019/QTR1/master.idx
02-02 01:40|EdgarAnalyzer|INFO|downloading /data/edgar/edgar/full-index/2019/QTR2/master.idx
02-02 01:40|EdgarAnalyzer|INFO|read master_idx db, n=0
02-02 01:40|EdgarAnalyzer|INFO|write master_idx db, n=97188

In [4]:
ep.filings_between('AAPL', '2015-01-01', form_type='10-K')

02-02 01:40|EdgarAnalyzer|INFO|downloading /data/edgar/edgar/data/320193/0000320193-19-000119.txt

['/data/edgar/edgar/data/320193/0000320193-19-000119.txt']

In [5]:
ep.filings_between('AAPL', '2015-01-01', form_type='10-Q', download=True)

02-02 01:40|EdgarAnalyzer|INFO|downloading /data/edgar/edgar/data/320193/0000320193-19-000076.txt
02-02 01:40|EdgarAnalyzer|INFO|downloading /data/edgar/edgar/data/320193/0000320193-19-000066.txt
02-02 01:40|EdgarAnalyzer|INFO|downloading /data/edgar/edgar/data/320193/0000320193-19-000010.txt
02-02 01:40|EdgarAnalyzer|INFO|downloading /data/edgar/edgar/data/320193/0000320193-20-000010.txt

['/data/edgar/edgar/data/320193/0000320193-19-000010.txt',
 '/data/edgar/edgar/data/320193/0000320193-19-000066.txt',
 '/data/edgar/edgar/data/320193/0000320193-19-000076.txt',
 '/data/edgar/edgar/data/320193/0000320193-20-000010.txt']

In [6]:
sql = 'select * from master_idx'
df=  pd.read_sql(sql, ep.conn_master_db)
df.tail()

,index,cik,company_name,form_type,date_filed,filename
97183,None,98246.0,TIFFANY & CO,8-K,2020-01-24,edgar/data/98246/0001193125-20-014240.txt
97184,None,98338.0,TSR INC,10-Q,2020-01-13,edgar/data/98338/0001213900-20-000888.txt
97185,None,98338.0,TSR INC,8-K,2020-01-29,edgar/data/98338/0001213900-20-002097.txt
97186,None,98362.0,TIMKEN CO,8-K,2020-01-30,edgar/data/98362/0000098362-20-000003.txt
97187,None,99780.0,TRINITY INDUSTRIES INC,8-K,2020-01-15,edgar/data/99780/0000099780-20-000008.txt